@model GuessTheAnimal.Models.QuestionViewModel

<div class="jumbotron" style="margin-top:20px;">
  <h1>Awesome! Thanks for playing</h1>

  <h2>Would you like to play again?</h2>

  <p><a href="@Url.Action("Question1", "Game")" class="btn btn-primary btn-lg"> Ok &raquo;</a></p>
</div>