@model GuessTheAnimal.Models.GuessViewModel

<div class="jumbotron" style="margin-top:20px;">
  <h1 class="text-center">Is it a @Model.GuessAnimal?</h1>

  <p class="text-center" style="margin-top:30px;">
    <a href="@Url.Action("Correct", "Game")" class="btn btn-primary btn-lg"> Yes</a>

    <a href="@Url.Action("Wrong", "Game")" class="btn btn-primary btn-lg"> No</a>
  </p>
</div>