@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:20px;">
    <h1>Guess the Animal</h1>
    <p class="lead">Think of an animal... eg "hippapotamus" <br />and we will try to guess it, asking you a series of questions.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> Ok let's go &raquo;</a></p>
</div>