@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:20px;">
  <h1>Guess the Animal</h1>
  <h2>Think of an animal... eg "hippapotamus" and we will try to guess it, asking you a series of questions.</h2>

  <p><a href="@Url.Action("Question1", "Game")" class="btn btn-primary btn-lg"> Ok let's go &raquo;</a></p>
</div>