@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:20px;">
  <h1 class="text-center">Guess the Animal</h1>
  
  <h2 style="margin-top:30px;">Think of an animal... eg "hippapotamus" and we will try to guess it, asking you a series of questions.</h2>

  <p class="text-center" style="margin-top:30px;"><a href="@Url.Action("Question1", "Game")" class="btn btn-primary btn-lg"> Begin Playing</a></p>
</div>